.App {
  text-align: center;
}

.shown {
  display: flex;
}

.hidden {
  display: none;
}

#task-list {
  border: 1px solid red;
  display: flex;
  flex-direction: column;

}

#task-list .text, #task-list button {
  border: none;
  cursor: pointer;
}

#task-list ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

#task-list ul li {
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
}
